.stack-blocks .react-flow__node {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    border: 2px solid #EFCE4A;
    background-color: #111;
    box-shadow: 1px 1px 0 1px #000, 3px 3px 0 1px #ED8A19, 5px 5px 0 1px #000, 7px 7px 0 1px #EA6248;
    color: white;
    transition: border, box-shadow 0.2s ease-in-out;
}

.stack-blocks .react-flow__node.selected,
.stack-blocks .react-flow__node:hover,
.stack-blocks .react-flow__node:focus {
    box-shadow: 1px 1px 0 1px #000, 3px 3px 0 1px #ED8A19, 5px 5px 0 1px #000, 7px 7px 0 1px #EA6248;
}

.stack-blocks .react-flow__node.selected {
    box-shadow: none;
    border-color: white;
}


.stack-blocks .react-flow__handle {
    display: none;
}